/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-nov-2015, 11:28:51
    Author     : piñe
*/

body{
    background:#E4F3FE;
}

.IniciarSesion .invalid_login_message{
    font-size: 13px;
    color: red;
}

.Home{
    width: 80%;
    background: #ffffff;
}

.main{
    width: 70%;
    background: #ffffff;
}

.Servicios{
    width: 80%;
    background: #ffffff;
}

.Promociones{
    width: 80%;
    background: #ffffff;
}

.infoPromocion{
    width: 80%;
    background: #ffffff;
}

.infoServicio{
    width: 80%;
    background: #ffffff;
}

.ReservasProveedor{
    width: 80%;
    background: #ffffff;
}

img{
    width: 30%;
}