<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>com.h4t.controladores.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.h4t.controladores.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servicios</servlet-name>
        <servlet-class>com.h4t.controladores.Servicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServicio</servlet-name>
        <servlet-class>com.h4t.controladores.InfoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promociones</servlet-name>
        <servlet-class>com.h4t.controladores.Promociones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoPromocion</servlet-name>
        <servlet-class>com.h4t.controladores.InfoPromocion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servicios</servlet-name>
        <url-pattern>/Servicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoServicio</servlet-name>
        <url-pattern>/InfoServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promociones</servlet-name>
        <url-pattern>/Promociones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoPromocion</servlet-name>
        <url-pattern>/InfoPromocion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
